# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# IDE & editor settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Alembic
migrations/versions/__pycache__/

# Logs
*.log
